.product-image-detail {
    width: 100%;
    height: 100%;
    max-width: 180px; /* Ensures the image stays small initially */
    height: 150px; /* Fixed height for small view */
    object-fit: cover; /* Ensures the image fits properly without stretching */
    border-radius: 5px;
    margin-bottom: 10px;
    transition: all 0.3s ease;
    background-size: 100%;
    
  }
  .product-card{
    width: 30%;
    height: 50vh;
    /* background-color: grey; */
    margin-left: 70vh;
    padding-left: 150px;
    margin-top: 10vh;
  }
  