<header class="navbar">
  <nav>
    <ul>
      
      <li><a routerLink="userprofile" routerLinkActive="active">Data Binding</a></li>
      <li><a routerLink="pipes" routerLinkActive="active">Pipes</a></li>
      <li><a routerLink="directives" routerLinkActive="active">Directives</a></li>
      <li><a routerLink="parent" routerLinkActive="active">Component Communication</a></li>
      <li><a routerLink="template" routerLinkActive="active">Template Forms</a></li>
      <li><a routerLink="reactive" routerLinkActive="active">Reactive Forms</a></li>
      <li><a routerLink="formarray" routerLinkActive="active">Form Array</a></li>
      <li><a routerLink="routing" routerLinkActive="active">Routing</a></li>
      <li><a routerLink="apis" routerLinkActive="active">API Calls</a></li>
      <li><a routerLink="observables" routerLinkActive="active">Observables</a></li>
      <li><a routerLink="hooks" routerLinkActive="active">LifeCycle Hooks</a></li>
      <li><a routerLink="ag-grid" routerLinkActive="active">Ag-Grid</a></li>
    </ul>
  </nav>
</header>

<router-outlet></router-outlet>
