<h2>Transactions for Account #{{ transactionId }}</h2>

<div *ngIf="transactions.length > 0; else noTransactions">
  <table>
    <thead>
      <tr>
        <th>Date</th>
        <th>Type</th>
        <th>Amount</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let tx of transactions">
        <td>{{ tx.date }}</td>
        <td>{{ tx.type }}</td>
        <td>\${{ tx.amount }}</td>
      </tr>
    </tbody>
  </table>
</div>

<ng-template #noTransactions>
  <p>No transactions found for this account.</p>
</ng-template>